.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-green);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0 0 2rem 2rem;
  transition: all 0.25s;
  box-shadow: 3px 3px 10px rgb(97, 97, 97);
}

.headerContainer:hover {
  box-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.profileImage {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 5rem;
  margin-left: 1rem;
  overflow: hidden;
}

.profile {
  position: relative;
  height: 200px;
  margin-left: -1rem;
  object-fit: contain;
}

.headerText {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.headerTitleName {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.titleList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}
