.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  color: black;
  box-shadow: 1px 1px 2px rgb(97, 97, 97);
  /* transition: all 0.25s; */
}

/* .headerContainer:hover {
  box-shadow: 1px 1px 2px rgb(97, 97, 97);
} */

.profileImage {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 5rem;
  margin-left: 1rem;
  overflow: hidden;
}

.profile {
  position: relative;
  height: 200px;
  margin-left: -1rem;
  object-fit: contain;
}

.headerText {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.headerTitleName {
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.titleList {
  display: block;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}
