.homeGrid {
  display: grid;
  max-width: 1100px;
  margin: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
  padding: 0 1rem;
}

.contentLink {
  padding: 1rem;
  background-color: var(--color-off-white);
  transition: all 0.25s;
}

.leftNav {
  justify-self: stretch;
  padding: 1rem;
  background-color: var(--color-off-white);
}

.rightNav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 19fr;
  row-gap: 2rem;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: var(--color-off-white);
}

/* .rightNav:hover {
  box-shadow: 1px 1px 2px rgb(97, 97, 97);
} */

.itemContainer {
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
}

.itemContainer ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.itemContainer ul li {
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  transition: color 1s;
}

.itemContainer ul li:hover {
  color: var(--color-dark-green);
}

.itemContainer ul li::before {
  width: 0%;
  content: '';
  color: black;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid black;
  transition: all 0.5s;
}

.itemContainer ul li:hover::before {
  width: 100%;
}
