.homeGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  column-gap: 1rem;
}

.leftNav {
  justify-self: stretch;
  padding: 1rem;
  background-color: rgb(207, 207, 207);
}

.rightNav {
  padding: 1rem;
  background-color: rgb(207, 207, 207);
}